.app_header{
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 5%;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width:720px){
  .app_header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
    width: 100%;
  }
}